// Hero Slider

.hero_slider {
  height: calc(100vh - 107px);
  min-height: 450px;
  position: relative;
  @include media-breakpoint-up(lg) {
    min-height: 550px;
  }
  .admin-bar & {
    height: calc(100vh - 139px);
  }
  &:hover {
    .flex-direction-nav {
      >li {
        a {
          &.flex-prev,  &.flex-next {
            opacity: 1;
            transform: translate(0rem, -50%);
          }
        }
      }
    }
  }
  .slides {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    li {
      height: 100%;
      text-align: center;
      background-size: cover;
      background-position: center;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#3b3b3a, .5);
      }
      .table {
        position: relative;
        z-index: 1;
        color: #fff;
        .title {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin: 0 0 2rem;
          @include media-breakpoint-up(lg) {
            font-size: 3rem;
          }
          @include media-breakpoint-up(xl) {
            font-size: 3.375rem;
          }
          i {
            font-family: $font-family-cursive;
            font-weight: normal;
            font-style: normal;
            letter-spacing: 0;
            font-size: 4rem;
            text-transform: none;
            line-height: 1;
            @include media-breakpoint-up(lg) {
              font-size: 5.5rem;
            }
            @include media-breakpoint-up(xl) {
              font-size: 6.125rem;
            }
            &:after {
              content: '';
              display: block;
            }
          }
        }
      }
    }
  }
  .flex-direction-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
    > li {
      a {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 11;
        height: 92px;
        width: 47px;
        opacity: 0;
        transition: all .4s ease-in-out;
        &.flex-prev {
          background: url(../images/left.png);
          left: 2rem;
          transform: translate(1rem, -50%);
        }
        &.flex-next {
          background: url(../images/right.png);
          right: 2rem;
          margin-left: 1rem;
          transform: translate(-1rem, -50%);
        }
      }
    }
  }
}